@page "/EmployeeCenter"

<PageTitle>Employees</PageTitle>

@using DeepFreez.WebApp.Model
@using DeepFreez.WebApp.Service
@inject EmployeeService EmpService

<h1>Employee Center</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>National Identity</th>
                <th>Name</th>
                <th>Address</th>
                <th>JobID</th>
                <th>Contact Info</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee._id</td>
                    <td>@employee.Namestring</td>
                    <td>@employee.Address</td>
                    <td>@employee.JobID</td>
                    <td>@employee.MobileNumber</td>
                    <td>@employee.EmailAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Employee>? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmpService.GetAsync(); // ForecastService.GetForecastAsync(DateTime.Now);
    }
}
