@page "/Delivery/CreateRoute"
@using DeepFrees.WebPro.Model;
@using DeepFrees.WebPro.Model.HelperModels;
@using DeepFrees.WebPro.Services;

<PageTitle>Delivery Routing</PageTitle>

@inject VRoutingStream VRoutingStream

<div class="jumbotron">
    <h1 class="display-4">Routes and Delivery Managemenet</h1>
    <p class="lead">Create New Routes</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="/Delivery" role="button">Routes</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/AddLocation" role="button">Add Locations</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/DistanceSheet" role="button">Check Distance Between Locations</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/CreateRoute" role="button">Create New Route</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/ManageLocation" role="button">Edit Locations</a>
        <a class="btn btn-dark btn-lg" href="/Delivery/EditDistances" role="button">Edit Distance</a>
    </p>
</div>

<br />
<br />

<div class="form-group">
    <label for="routeName">Route Name</label>
    <input type="text" @bind="@routeName" class="form-control" id="routeName" placeholder="Insert First Name">
</div>
<div class="form-group">
    <label for="vehicleNumber">Vehicle Number</label>
    <input type="text" @bind="@vehicleNumber" class="form-control" id="vehicleNumber" placeholder="Insert Vehicle Registration Number">
</div>
<div class="form-group">
    <label for="driver">Drivers Name</label>
    <input type="text" @bind="@driver" class="form-control" id="driver" placeholder="Insert driver`s first Name">
</div>
<div class="form-group">
    <label for="driverid">Drivers Name</label>
    <input type="text" @bind="@driverid" class="form-control" id="driverid" placeholder="Insert driver`s NIC">
</div>
<div class="form-group">
    <label for="comments">Comments</label>
    <input type="text" @bind="@comments" class="form-control" id="comments" placeholder="Insert a Comments">
</div>
<div class="form-group">
    <label for="vcount">Vehicle Count</label>
    <input type="number" @bind="@vIndex" class="form-control" id="vcount" placeholder="Insert Vechicle Count eg:1(Better) or more">
</div>
@if (Locations == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="form-group">
    <label for="selectCity1">Select City 1</label>
    <select class="form-control" id="selectCity1" @bind="selectedCity1">
        @foreach (var city in Locations)
        {
            <option value="@city.locationID">@city.city</option>
        }
    </select>
</div>
}

<br />
<button @onclick="CreateRoute" class="btn btn-primary">Create Route</button>
<br />
<br />
<br />

@code {

    private string? routeName { get; set; }
    private string? vehicleNumber { get; set; }
    private string? driver { get; set; }
    private string? comments { get; set; }
    private string? driverid { get; set; }
    private int vIndex { get; set; }

    private int selectedCity1 { get; set; }
    private List<Location>? Locations;

    protected override async Task OnInitializedAsync()
    {
        Locations = await VRoutingStream.GetAllLocations();
    }

    public async void CreateRoute()
    {
        if (routeName != null)
        {
            try
            {
                SavedRoute SavedRoute = new();
                SavedRoute.totalDistance = "";
                SavedRoute.routeName = routeName;
                SavedRoute.comments = comments;
                SavedRoute.driverID = driverid;
                SavedRoute.driver = driver;
                SavedRoute.vehicleNumber = vehicleNumber;
                SavedRoute.startLocation = selectedCity1;
                SavedRoute.vehicleIndex = vIndex;

                await VRoutingStream.CreateRoute(SavedRoute);
            }
            catch (Exception e)
            {
                //handle alert
            }

        }
    }
}
