
<h5>@empname</h5>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>NIC</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Role</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0 ; i < 10; i++)
            {
                <tr>
                    <td>Content @i</td>
                    <td>Content @i</td>
                    <td>Content @i</td>
                    <td>Content @i</td>
                    <td>Content @i</td>
                    <td><a href="/DeleteEmployee">More</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private string empname;
    private void testclk
    ()
    {
        empname = "asdasd";
        StateHasChanged();
    }
}
