@using DeepFreez.WebApp.Helper;
@using DeepFreez.WebApp.Model;
@using DeepFreez.WebApp.Service;

@inject EmployeeService EmployeeService
@inject EmployeeDataContext EmployeeDataContext

<h5>@empname</h5>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>NIC</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var Emp in EmpList)
            {
                <tr>
                    <td>@Emp.NIC</td>
                    <td>@Emp.Contact.PhysicalAddress</td>
                    <td>@Emp.Contact.EmailAddress</td>
                    <td>@Emp.Contact.Mobile</td>
                    <td>@Emp.Roles.EmployeeRole</td>
                    <td><a href="/UpdateEmployee/@Emp.NIC">More</a></td>
                    <td><a href="/DeleteEmployee/@Emp.NIC">More</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private string empname;

    private List<Employee> EmpList= new List<Employee>();

    protected override async Task OnInitializedAsync()
    {
        EmpList = await EmployeeDataContext.GetAll();
        StateHasChanged();
    }


    private void testclk()
    {
        
    }
}
