
<h5>@empname</h5>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Category</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0 ; i < 10; i++)
            {
                <tr>
                    <td>Content @i</td>
                    <td>Content @i</td>
                    <td>Content @i</td>
                    <td>Content @i</td>
                    <td><a href="/UpdateEmployee">Edit</a></td>
                    <td><a href="/DeleteEmployee">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private string empname;
    private void testclk
    ()
    {
        empname = "asdasd";
        StateHasChanged();
    }
}
